@import "~react-image-gallery/styles/css/image-gallery.css";

img{
  border-radius: 8px;
}

.image-gallery-thumbnail.active, .image-gallery-thumbnail:focus {
  outline: none;
  border-radius: 13px;
  border: 4px solid #c4017a;
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
  margin-top:50px;
}
